<div class="title-bar" data-responsive-toggle="header-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="header-menu">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="brand"><a href="{{ site.baseurl }}/">Salon Citi &amp; Barber</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="cta-call"><i class="fa fa-phone fa-lg"></i> 703-825-1125</li>
      </ul>
    </div>
  </div>
</div>

